{{extend 'layout.html'}}
<style type='text/css'>
th {
	text-align: center;
}

</style>
{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('How did you get here?')}}</p>
<ol>
  <li>{{=T('You are successfully running your IINS App')}}</li>
 <li>{{=XML(T('The output of the F %s', A('web2py/applications/default/manage_transactions.html' % request,
    _href=URL(args=('manage_transactions')))))}}</li>
</ol>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{pass}}
<div class="container">
	<div class="row">
        <div id="web2py_user_form" class="jumbotron">
			{{if session.login == 1:}}
            <h2>{{T('Insert new row')}}</h2>
            {{=form1}}
            <h2>{{T('Select columns to create a plot')}}</h2>
            {{=form2}}
            {{=plot}}
            {{else:}}
             <h2>{{T('Select columns to create a plot')}}</h2>
            {{=form2}}
            {{=plot}}
            {{pass}}
        </div>
    </div>
    <div class="row">
        <div id="web2py_user_form2" class="jumbotron text-center">
            <h2></h2>
            {{=records}}
        </div>
    </div>
</div>
